<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Source</th>
            <th scope="col">Lead status</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Thomas</td>
            <td>9768956784</td>
            <td>Thane</td>
            <td>Online</td>
            <td>Closed</td>
            <td>03/02/2019</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>9768956784</td>
            <td>Mumbai</td>
            <td>Broker</td>
            <td>Not Interested</td>
            <td>03/02/2019</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>9768956784</td>
            <td>Ghatkopar</td>
            <td>Friend</td>
            <td>Purchased from somewhere else</td>
            <td>03/02/2019</td>
        </tr>
    </tbody>
</table>